/* -----------------------기본 설정 START -------------------------- */



/* 1️⃣ 전체 걸기  */
* {
    box-sizing: border-box;

}


/*  2️⃣ 태그 걸기 */


/* img 원본 비율 유지하면서, container 안에 있게 하기 */
img {

    /* 사진 비율 조정은 container 에서 하기 (실익 비교는 하면서 진행) 🟧  */
    width: 100%;
    height: 100%;

    /* 원본 사진이 crop 되어서 나오는 느낌 (이걸 해야, 안 찌그러짐) */
    object-fit: cover;

}


/* 점점점, 1줄로 써지게 하기 
    ✅ width, height 없이도 가능
    ✅ 이걸, p태그를 감싸는 container 에게 하면 error 
    ✅ 이걸 p태그에 걸어줘야 함. 
                               */
p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}




/* 3️⃣ 클래스 걸기 */


/* 가운데 오게 하기
    ✅ text 를 가운데로 오게 하려면, p 태그를 감싸는 container 에게, 해당 클래스를 붙인다. 
    ✅ img 를 가운데 오게 하려면, img 태그를 감싸는 container 에게!
    ✅ 하위 div 를 가운데 오게 하려면, div 를 감싸는 wrap 에게! */
.align_center {
    display: flex;
    align-items: center;
    justify-content: center;
    }



/* -----------------------기본 설정 END -------------------------- */